<div class="main-container">
    <div mode="side" opened class="side-nav" [ngClass]="{collapsed}">
        <div class="menu">
            <div class="logo-container">
                <span class="material-symbols-outlined button-icon"> keyboard_command_key </span>
                <h2 class="app-title" [ngClass]="{collapsed}">MdStarter</h2>
            </div>

            <nav>
                <!-- Add Navigation buttons or anything else here -->
            </nav>
        </div>
        <button class="toggle-collapse" mat-raised-button (click)="toggleCollapse()">
            {{ collapsed ? '' : 'Collapse' }}
            <mat-icon class="button-icon">{{ collapsed ? 'east' : 'west' }}</mat-icon>
        </button>
    </div>
    <div class="main-content" [ngClass]="{collapsed}">
        <router-outlet></router-outlet>
    </div>
</div>
