.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    mat-toolbar {
        height: 7.5%;
    }
    .content {
        height: 92.5%;
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
}
