@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}
body, p, h1, h2, h3, span {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

pre,
code {
    font-family: 'IBM Plex Mono', monospace;
}
