/* You can add global styles to this file, and also import other style files */
@use './assets/theme';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

pre,
code {
    font-family: 'IBM Plex Mono', monospace;
}
