mat-divider {
    margin: 0.5em 1em;
}
.host-note {
    padding: 0.5em 1em;
}
.create-component-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 0.5em 1em;
}
.using-template-reference-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #da572f;
    background-color: #f6d5cb;
    margin: 1em;
    padding: 0.5em;
}
.using-anchor-directive-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #af9c31;
    background-color: #f2eccf;
    margin: 1em;
    padding: 0.5em;
}
.create-component-actions-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #b93c7f;
    background-color: #f5e0eb;
    margin: 1em;
    padding: 0.5em;
}

.movie-actions {
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1;
}
